<div class="page-header">
  <%= link_to invoices_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @invoice, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>修改訂單</h1>
</div>

<%= render 'form' %>

<script>
  $( document ).ready(function() {
      $.get("/invoice_details/<%= @invoice.id %>.json", function(data, status){
        // alert("Data: " + data + "\nStatus: " + status);
        $.each(data,function(index, value){
          $id = value.item_id;
          if(value.amount > 0){
            $('#amount_' + $id).val(value.amount);
            $('#amount_' + $id).parent().parent().parent().css("background-color", "#87CEFA");
            $('#total_' + $id).text(value.amount * value.price);
            $('#amount_' + $id).parent().parent().prev().text(value.price);
          }
        });

        calculateTotal();
      });

  });
</script>
